{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}

<div class="container-fluid" style="height: 100%;">
  <div>
    <nav class="col-12 row justify-content-center align-items-center" style="height: 6vh; background-color: #007bff ;">
      <h5>Nhận dạng người nổi tiếng</h5>
    </nav>
    <div class="col-12 row justify-content-left align-items-center"
      style="height: 5vh; background-color: #fff ; padding-left: 10vw; padding-right: 10vw; box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);">
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-6 justify-content-center align-items-center" style="height: 88vh; border-right: 10px solid #EEEEEE; ">
           <!-- Image -->
      <div class="justify-content-center">
        <!-- Title -->
      <div class="justify-content-center" style="text-align: center;">
        <b style="font-size: 24px;">Tải ảnh lên</b>
        <p>Bạn có thể tải lên hoặc nhập đường dẫn ảnh</p>
      </div>
        <div class="row justify-content-center align-items-center" style="height: 40vh;">
          <div class="panel" style="height: 18rem; width: 18rem; color: white;">
            <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" name="image" />
            <label for="file-upload" id="file-drag" class="upload-box" style="height: 100%; width: 100%; ">
              <div id="upload-caption">Kéo ảnh hoặc bấm vào để chọn ảnh</div>
              <img id="image-preview" class="hidden" />
            </label>
          </div>
        </div>
        <!-- Controller -->
        <div class="row justify-content-center align-items-center" style="height: 20vh;">
          <div>
            <label for="basic-url">Link ảnh</label>
            <div class="input-group mb-3">
              <!-- <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Nhập link ảnh</span>
              </div> -->
              <input type="text" placeholder="Nhập link ảnh" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>
          <div>
            <input id="submit"  type="button" value="Nhận dạng" class="button" onclick="submitImage();"/>
            <input type="button" value="Làm mới" class="button" onclick="clearImage();"/>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Result display -->
    <div class="col-6 row justify-content-center align-items-top" style="height: 88vh; width: 100%; border-left  : 10px solid #EEEEEE; ">
      <div class="col-12 row justify-content-center align-items-top" style="padding-top: 3vh">
        <div id="image-box" class="row justify-content-center align-items-top">
          <!-- <img id="image-display" /> -->
          <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
            <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
          </svg>
        </div>
      </div>
      <div style="font-size: 1.2rem; padding-top: 2rem;">
        <div id="resultCeleb">
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock %}